<!DOCTYPE html>
<html>
  <head>
    <title>Turma9B</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Turma9B</h1>
    <p>Bem vindo a aula de CI & CD - Turma 9B</p>
  </body>
</html>
